	fieldset{
		border: none;
		padding: 0;
	}

	label{
		display: block;
		color: #787878;
		@extend .os;
		font-size: 14px;
		margin-bottom : 8px;
	}
	input{
		height: 36px;
		line-height : 36px;
	}
	input,textarea{
		width:100%;
		padding: 10px;
		border: 1px solid #ccc;
		margin-bottom:1em;
	}


	.fieldgroup-field{
		
		
		
		float: left;
		width: perc(220,470);

		&.odd{
			margin-right: perc(30,470);
		}

		@include breakpoint(0 976px){

			width: 100%;
			margin: 0;
			float : none;
		}
		
	}
	.fieldgroup{
		clear: both;
	}
	.radio{
		label{
			@include clearfix;
			input{
				float : left;
				width: 20px;
				position: relative;
				top: -9px;

			}
		}
	}

	.form-actions{
		button{
			border: none;
			background: #e97813;
			@extend .fs;
			color: #fff;
			padding: 10px 15%;
			font-size: 13px;
		}
	}

	.message.bad{
		background: orange;
		position : absolute;
		left: 1px;
		right: 1px;
		top:40px;
		height: 30px;
		font-size: 14px;
		padding: 5px;
	}