@mixin cf {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// rem fallback - credits: http://zerosixthree.se/
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// center vertically and/or horizontally an absolute positioned element
@mixin center($xy:xy) {
    position: absolute;
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin w($target,$context:1300) {
  width: ($target / $context)*100%;
}

@function em($px, $base: 16px) {
  @return ($px / $base) * 1em;
}

@function p($target, $context) {
  @return ($target / $context)*100%;
}

@mixin transition($time:.1s){
  transition:all $time ease-in;
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}
//column based on known percentages
@mixin colp($percentage, $float-direction:left) {
	width: 100% * $percentage;
	float: $float-direction;
}
//column based on unknown percentages
@mixin colu($target,$context, $float-direction:left) {
	width: p($target,$context);
	float: $float-direction;
}

@mixin responsive-image(){
	max-width: 100%;
	height: auto;
}


@mixin blank-list(){
	margin: 0;
	padding: 0;
	list-style : none;
}
